<div *ngIf="confSummaryLoaded" style="display: flex; flex-direction: row">
  <mat-card>
    <mat-card-header
      ><mat-card-title>Conferences tracked</mat-card-title></mat-card-header
    >
    <mat-card-content class="totalConferencesTracked">
      {{ confSummary!.totalConferencesTracked }}
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header
      ><mat-card-title>Average f:m% (2023)</mat-card-title></mat-card-header
    >
    <mat-card-content class="averageDiversityPercentage">
      {{ confSummary!.averageDiversityPercentage | percent }}
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header
      ><mat-card-title>Last added</mat-card-title></mat-card-header
    >
    <mat-card-content class="mostRecentlyAdded">
      {{ confSummary!.mostRecentlyAdded.name }} ({{
        confSummary!.mostRecentlyAdded.year
      }})
      <br />
      {{ confSummary!.mostRecentlyAdded.diversityPercentage | percent }}
    </mat-card-content>
  </mat-card>
</div>
