.mat-mdc-card-header {
  background-color: white;
  align-items: center;
  font-weight: bold;
  font-style: italic;

  > .mat-mdc-card-header-text {
    text-align: center;
  }
}

.mat-mdc-card {
  padding: 10px 10px 10px 10px;
}

.mat-mdc-card-content {
  background-color: #4d4d4d;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: x-large;
  height: 60px;
  width: 20vw;
}
