.confdata-list {
  width: 100%;
  vertical-align: middle;
}

.mat-column-rank {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}

.mat-column-conf {
  padding-left: 16px;
  font-size: 20px;
}

.conf-title {
  font-weight: bold;
}

.conf-location,
.diversity-ratio {
  font-size: 10px;
}

.mat-column-diversityPercentageBar {
}

.mat-column-diversityPercentage {
  text-align: center;
  font-weight: bold;
}
