.confdata-list {
  width: 100%;
  vertical-align: middle;
}

.confdata-row {
  background-color: #4d4d4d;
  color: white;
}

.mat-column-rank {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}

.mat-column-conf {
  padding-left: 16px;
  font-size: 20px;
}

.conf-title {
  font-weight: bold;
}

.conf-location,
.diversity-ratio {
  font-size: 10px;
}

.diversity-percentage1 {
  background-color: #ff0000;
  color: white;
}

.diversity-percentage2 {
  background-color: #ff00ff;
  color: black;
}

.diversity-percentage3 {
  background-color: #ffa500;
  color: black;
}

.diversity-percentage4 {
  background-color: #0000ff;
  color: white;
}

.diversity-percentage5 {
  background-color: #008000;
  color: white;
}

.diversity-percentage6 {
  background-color: white;
  color: black;
}

.mat-column-diversityPercentage {
  text-align: center;
  font-weight: bold;
}
