<div *ngIf="confDataLoaded" style="position: relative; width: 80vw">
  <mat-table [dataSource]="confData" class="confdata-list">
    <ng-container matColumnDef="rank">
      <th mat-header-cell *matHeaderCellDef>rank</th>
      <td mat-cell *matCellDef="let element">{{ element.displayRank }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>conf</th>
      <td mat-cell *matCellDef="let element">
        <div class="conf-title">{{ element.name }} {{ element.year }}</div>
        <div class="conf-location">{{ element.location }}</div>
      </td>
    </ng-container>

    <ng-container matColumnDef="diversityPercentageBar">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        {{ element.diversityPercentageBar }}
        <ng-container
          *ngFor="
            let _ of [].constructor(element.diversityPercentageNormalised)
          "
          >|</ng-container
        >
      </td>
    </ng-container>

    <ng-container matColumnDef="diversityPercentage">
      <th mat-header-cell *matHeaderCellDef>%<br />(#f:#m)</th>
      <td
        mat-cell
        [ngClass]="{
            'diversity-percentage6': element.diversityPercentage >= 0.5,
            'diversity-percentage5': element.diversityPercentage >= 0.4,
            'diversity-percentage4': element.diversityPercentage >= 0.3,
            'diversity-percentage3': element.diversityPercentage >= 0.2,
            'diversity-percentage2': element.diversityPercentage >= 0.1,
            'diversity-percentage1': element.diversityPercentage < 0.1,
          }"
        *matCellDef="let element"
      >
        <div>
          {{ element.diversityPercentage | percent }}
        </div>
        <div class="diversity-ratio">
          ({{ element.numberOfWomen }}:{{ element.numberOfMen }})
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      class="confdata-row"
    ></tr>
  </mat-table>
</div>
