.confdata-list {
  width: 100%;
  vertical-align: middle;
}

.mat-mdc-header-row {
  border-bottom: 3px solid black;
  background-color: white;
}

.mat-mdc-table {
  border-color: black;
  background-color: black;
  margin: 12px;
}

.mat-mdc-cell {
  color: white;
}

.mat-column-rank {
  border-bottom: 3px solid black;
  text-align: center;
}

.mat-column-name {
  border-bottom: 3px solid black;
}

.confdata-row {
  background-color: #4d4d4d;
  color: white;
}

.mat-column-diversityPercentageBar {
  padding-left: 16px;
  border-bottom: 3px solid black;
}

.mat-column-diversityPercentage {
  text-align: center;
  font-weight: bold;
  border-bottom: 3px solid black;
}

.conf-title {
  font-weight: bold;
}

.conf-location,
.diversity-ratio {
  font-size: 10px;
}

.diversity-percentage1 {
  background-color: #ff0000;
  color: white;
}

.diversity-percentage2 {
  background-color: #ff00ff;
  color: black;
}

.diversity-percentage3 {
  background-color: #ffa500;
  color: black;
}

.diversity-percentage4 {
  background-color: #0000ff;
  color: white;
}

.diversity-percentage5 {
  background-color: #008000;
  color: white;
}

.diversity-percentage6 {
  background-color: white;
  color: black;
}
