<!-- Toolbar -->
<div class="toolbar" role="banner">
  <h1>female speakers @ tech conferences</h1>

  <br />
  <div>
    As a generalist software geek in Australia/NZ, there is not a lot of choice
    when it comes to conferences. One advantage of the limited menu we have is
    that it is relatively easy to track trends of the available conferences over
    time and one such trend I am particularly interested in is how many female
    speakers get an opportunity to present at these conferences.
  </div>

  <br />

  <div>
    <strong>Disclaimer</strong>: Gender presence is only one form of diversity
    to consider and the approach I've used is unscientific and assuming a gender
    binary world, but I hope you find this information useful even with the
    shortcomings in my method.
  </div>
</div>

<div class="content" role="main">
  <app-confgraph></app-confgraph>
  <app-confdata></app-confdata>

  <footer></footer>
</div>

<router-outlet></router-outlet>
